.signup {
    width: 100%;
}

.signup-title {
    font-family: 'Gugi', cursive;
    font-size: 50px;
    margin-top: 20px;
    cursor: pointer;
}

.signup input, .signup button {
    border: none;
    width: 50%;
    max-width: 400px;
    height: 30px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid rgb(200, 200, 200);

}

.signup input:focus{
    border: 2px solid violet;
    outline: none;
}

.signup button[type=submit] {
    box-sizing: content-box;
    background-color: violet;
    border-color: violet;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.sign-up {
    margin: 10px auto;
    width: 55px;
    border-bottom: 1px solid black;
}